* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(220, 237, 245);
}


body {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    
}

header {
    padding-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(220, 237, 245);
}

h1 {
    font-weight: bold;
    color:  rgb(226, 43, 198);
    white-space: nowrap;
    font-size: 50px;
    text-align: center;
}

main {
    padding-top: 5%;
}

#Projects {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: 200;
    color: darkgray;
    background-color: rgb(220, 237, 245);
    padding: 10px;
}

li {
    width: 15%;
    text-align: center;
}

a {
    color: darkgrey;
    text-decoration: none;
}

a:hover {
    color: rgb(226, 43, 198);
    text-decoration: underline;
}

#notActive:hover {
    color: rgb(226, 43, 198);
    text-decoration: line-through;
}