@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}


#superior{
    height: 13vh;
    background-color: rgb(234, 212, 231);
    
}


#logo{
    background-color: rgb(234, 212, 231);
    height: 13vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-fluid {
    max-width: 100%;
    height: 10vh;
}

#menu{
    background-color: rgb(38, 63, 144);
    height: 5vh;

}


#Home{
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#Portfolio{
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#About{
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#Home a,
#Portfolio a,
#About a {
    color: white;
    text-decoration: none;
    font-size: small;
}

#Home a:hover,
#Portfolio a:hover,
#About a:hover {
    text-decoration: underline;
}

#Home a:active,
#Portfolio a:active,
#About a:active {
    color: white;
    text-decoration: none;
}

#title{

    height: 10vh;
    margin-top: 50px;
    margin-right: 20px;
    padding-left: 70px;

}

#Aboutme{
    height: 70vh;
}

#Text1{
    height: 35vh;
    padding-left: 20px;
    padding-right: 70px;
    margin-top: 20px;
}

#Text2{
    height: 35vh;
    margin-top: 10px;
    padding-left: 70px;
}

#Image1{
    height: 35vh;
    margin-top: 20px;
    background-image: url('portfolio_selected_images/01-portrait.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#Image2{
    height: 35vh;

    background-image: url('portfolio_selected_images/fotografija/Chanel_Oglas_mockup.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#pie{
    height: 6vh;
    padding-top: 10px;
    padding-bottom: 60px;
    background-color: rgb(234, 212, 231);
}

#LogoSmall{
    margin-top: 5px;
    padding-left: 70px;
    display: flex;
    justify-content: center;
    align-items: center;

    max-height: 5vh;
    width: auto;
}

#Author{
    color: rgb(38, 63, 144);
    font-size: smaller;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#IgLink{
    color: white;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;
}

#IgLink:hover {
    color: rgb(38, 63, 144);
    text-decoration: none;
}

#IgLink:active {
    color: white;
    text-decoration: none;
}