
body{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    padding: 0%;
    height: 110px;
    background-color: rgb(0, 50, 70);
    position: fixed;
    top: 0;
    left: 0;
    
}

section {
    height: auto;
    width: 100%;
    margin-top: 110px;
}

A:hover {
    position: relative;
    right: 20px;
}

header ul li{
    display: inline-block;
    width: 30%;
    box-sizing: border-box;
    color: aliceblue;
    
}

#izq {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

#izq img{
    height: auto;
    width: 80%;
}

#derech{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    
}

#derech img{
    height: 70px;
    width: 70px;
}

article{
   width: 650px;
   background-color: none;
   margin-right: auto;
   margin-left: auto;
}

h1{
    font-size: 40px;
    padding: 10px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

h4{
    font-weight: bold;
    padding-left: 50px;
    padding-right: 50px;
    line-height: 20px;
}

h5{
    font-size: medium;
    font-weight: lighter;
    text-align: center;
}

p{
    padding-left: 50px;
    padding-right: 50px;
    line-height: 20px;
    font-size: medium;
    font-weight: lighter;
}

.Importante{
    font-weight: bold;
    text-decoration-line: underline;
    text-decoration-style: dotted;
}

.FirstLetter::first-letter{
    font-size: 100px;
    font-weight: bold;
    line-height: 100px;
    float: left;
    padding-right: 15px;
}
ul{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

ul li{
    list-style-type: none;
    padding-bottom: 25px;
    padding-left: 45px;
    padding-right: 45px;
    line-height: 20px;

    font-size: larger;
}

#enlace:link{
    text-decoration: none;
    color: white;
    position: relative;
    top: 5px;
    left: 30px;
}

#enlace:hover{
    text-decoration: underline;
}
  
img{
width: 100%;
}